$ringer: #005bcc;
$kevin: #ff5e00;
$danny: #7ebe43;
$jonathan: #005bcc;
$az: #ff0047;


$black: #000;
$white: #fff;

$rank-1: #c2ef35;
$rank-2: #ffce00;
$rank-3: #ff8b00;
$rank-4: #ff551a;
$rank-5: #ff002b;
