$ringer: #005bcc;
$danny: #ff5e00;
$az: #7ebe43;
$jonathan: #ff0047;
$kevin: #0095ff;

$green: #f1edda;
$yellow: #183531;
$darkgreen: #142221;
$greenblack: #183531;

$black: #111;
$white: #fff;

$rank-1: #ff002b;
$rank-2: #ff6d00;
$rank-3: #ffb000;
$rank-4: #adea39;
$rank-5: #12c612;
$rank-6: #ccc;
