@mixin label-text {
    // write the css here
    font-family:'GT Pressura Mono', sans;
    font-weight:normal;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:0.1em;
}

@mixin timmons-text{
    font-family: 'TIMMONS NY';
    font-weight: normal;
}

@mixin value-text{
    font-size:12px;
    font-family: 'GT Pressura', sans;
    letter-spacing:0.05em;
    font-weight:300;
}

@mixin detail-text{
    font-size: 10px;
    text-align: center;
    font-weight: 300;
    font-family:'GT Pressura Mono', sans;
}

@mixin filter-sort-text {
    font-size: 13.5px;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    font-family:'GT Pressura Mono', sans;

}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition:    $transitions;
    -ms-transition:     $transitions;
    -o-transition:      $transitions;
    transition:         $transitions;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
