@mixin highlight-text{
    font-family: 'Lydia';
    font-weight: normal;
}

@mixin body-text{
    font-family:'GT Cinetype';
    font-weight:normal;
}

@mixin label-text {
    // write the css here
    @include body-text;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:0.1em;
}

@mixin value-text{
    @include body-text;
    font-size:12px;
    letter-spacing:0.05em;
    font-weight:300;
}

@mixin detail-text{
    @include body-text;
    font-size: 10px;
    text-align: center;
    font-weight: 300;
}

@mixin filter-sort-text {
    @include body-text;
    font-size: 13.5px;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition:    $transitions;
    -ms-transition:     $transitions;
    -o-transition:      $transitions;
    transition:         $transitions;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}


@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}
