@mixin label-text {
    // write the css here
    font-family:'NYTMag Sans', serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:0.05em;
}

@mixin value-text{
    font-size:14px;
}

@mixin detail-text{
    font-size: 11px;
    text-align: center;
    font-weight: 500;
}

@mixin filter-sort-text {
    font-size: 13.5px;
    letter-spacing: 0.065em;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition:    $transitions;
    -ms-transition:     $transitions;
    -o-transition:      $transitions;
    transition:         $transitions;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
