.ring-container {
    position: relative;
    margin-left:-20px;
}

.circle {
    width: 5px;
    height: 5px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}

.ringring {
    display:none;
    border: 1px solid #62bd19;
    -webkit-border-radius: 30px;
    height:13px;
    width: 13px;
    position: absolute;
    left: 0 ;
    top: 0;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}

body:not(.mobile):not(.no-transition) .ringring{
    display:block;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
