.more-coverage{
    clear:both;
    padding: 30px 0px;
}

.filtered .more-coverage{
    display:none;
}

.more-coverage:after{
    clear:both;
    content:'';
    display:table;
}

.more-coverage h3{
    font-size: 60px;
    font-family: 'TIMMONS NY';
    font-weight: 400;
    letter-spacing: 0px;
    line-height: .55;
    margin-bottom: 15px;
}

.more-coverage div{
    a{
        display:block;
        float:left;
        width:calc(33.333% - 20px);
        margin-bottom:30px;
        margin-right:30px;
        &:last-of-type{
            margin-right:0;
        }
    }

}

.more-coverage a .img{
    display:block;
    width:100%;
    height: 225px;
    border: 1px solid $black;
    margin-bottom:15px;
}

.more-coverage a h4 {
    font-size: 17px;
    color: $black;
    line-height: 1.2;
}


#coverage-footer{
    position:relative;
    background:$white;
    width:95%;
    max-width:1390px;
    margin: 0 auto -150px;
    padding: 0 105px;
    z-index:2;
}

#coverage-footer .more-coverage h3{
    position:relative;
    margin: 0 -75px;
    width: calc(100% + 150px);
    text-align: right;
    padding-right:30px;
}

#coverage-footer .more-coverage h3:after{
    content:'';
    display:block;
    position:relative;
    height:75px;
    width:100%;
    border:10px solid $black;
    border-bottom:0px;
    margin-bottom:-30px;
    margin-left:15px;
}

#coverage-footer .more-coverage a{
    width: calc(25% - 23px);
}


#coverage-footer .more-coverage a .img{
    height:195px;
}


#coverage-footer .more-coverage a:nth-child(5){
    margin-left:30px;
}
