#filter-bar-wrapper{
    position:relative;
    width:100%;
    max-height:80px;
    height: auto;

    padding: 0;
    z-index:5;
    overflow:hidden;
    @include highlight-text;
    #page-share{
        float:right;
        a{
            display:inline-block;
            width:20px;
            margin:0 0 0 5px;
            img{
                width:100%;
            }
        }
    }
    #filter-bar{
        overflow:hidden;
        height: 100%;
        width: auto;
        text-align:left;
        margin-left:-5px;
        float:left;
        .filter-logo{
            position:relative;
            width:4%;
            height:100%;
            text-align:center;
            float:left;
            max-width:0px;
            overflow:hidden;
            a{
                display:block;
                width:100%;
                height:100%;
            }
            img{
                position:absolute;
                left:50%;
                top:50%;
                max-width:70%;
                @include transform(translate(-50%,-50%));
            }
        }
        div.filter{
            position:relative;
            display:inline-block;
            width: auto;
            height: 100%;
            line-height: 100%;
            text-align:center;
            vertical-align:middle;
            margin: 0 5px;
            color:$yellow;
            opacity:0.5;
            font-size:16px;
            letter-spacing: 0.075px;
            cursor:pointer;

            &:last-of-type{
                border-right: 0;
            }
            &.active_filter{
                opacity:1;
                .filter-wrapper a{
                    display:inline-block;
                }
            }

            .filter-wrapper{
                img{
                    max-height: 35px;
                    width:auto;
                    margin-right:5px;
                }
                span{
                    display:inline-block;
                    vertical-align:middle;
                    margin-top:-3px;
                }
                a{
                    display:none;
                    margin-left:5px;
                    height:16px;
                    width:20px;
                    margin-top:2px;
                    background-image:url('../../img/twitter-silo.png');
                    background-image:url('../../img/twitter-silo.svg');
                    background-size: 100%;
                    background-position:center center;
                    background-repeat:no-repeat;
                    vertical-align:middle;
                    margin-top:-1px;
                }
            }
        }
    }
}



@media(max-width:1200px){
    #filter-bar-wrapper{
        .filter-logo{
            width:6%;
            img{
                max-width:66%;
            }
        }
        #filter-bar{
            div.filter{
                font-size:12px;
            }
        }
    }

}

@media(max-width:1023px){

    #filter-bar-wrapper{
        width:95%;
        margin:0 auto;
    }
    #filter-bar div.filter .filter-wrapper img,
    #filter-bar div.filter .filter-wrapper a{
        display:none !important;
    }
}

@media(max-width: 767px){
    #filter-bar-wrapper #filter-bar{
        div{
            display:none !important;;
        }
    }
}
