
#filter-bar-wrapper{
    position:relative;
    width:100%;
    max-width:1500px;
    max-height:80px;
    height: 50px;
    margin:0 auto 60px;
    padding: 0;
    z-index:5;
    overflow:hidden;
    transition: max-width .0625s linear, position 0s linear 0.0625s;
}

#filter-bar{
    border: 2px solid #000;
    border-radius: 9px;
    overflow:hidden;
    height: 100%;
    width: 100%;
    background: #fff;
}

#filter-bar a{
    position:relative;
    display:block;
    float:left;
    vertical-align:middle;
    height: 100%;
    font-weight:bold;
    text-transform:uppercase;
    color: #000;
    font-size:17px;
    line-height: 1;
    text-align:center;
    width: 16.25%;
    overflow:hidden;
    border-right:2px solid #000;
    transition: all 0.25s linear;
}
#filter-bar a:last-of-type{
    border-right: 0;
}

#filter-bar a.large{
    width: 22.5%;
}

#filter-bar a.active_filter{
    background:#000;
    color:#fff;
}

#filter-bar a span{
    position:absolute;
    left:0;
    right:0;
    top: 50%;
    margin-top: -7px;
}

@media(min-width: 768px){

    .filter-fixed #filter-bar-wrapper{
        position:fixed;
        top:0;
        left:50%;
        transform:translateX(-50%);
        padding: 0;
        max-width: 100%;
        max-height: 50px;
        transition: max-width 0.125s linear, position 0s linear .25s;
    }

    .filter-fixed #filter-bar-wrapper #filter-bar{
        border-radius:0;
    }

}

@media(max-width:1200px){
    #filter-bar-wrapper{
        margin-bottom:30px;
    }
}
