#filters{
    width:16.25%;
    float:left;
    margin: 0;
    clear:right;
    transform: translateY(0);
    position:absolute;
    a{
        position:relative;
        display:block;
        margin: 0 0 15px;
        @include filter-sort-text;
        &:not(.active){
            color:#ccc;
            &:hover{
                color:$black;
            }
        }
        &:last-of-type{
            margin-right: 0;
        }
        &.active{
            &:before{
                content:'';
                display:block;
                position:absolute;
                left:-20px;
                top:2px;
                width:17px;
                height:10px;
                background-image:url(../img/toggle.png);
                background-image:url(../img/arrow.svg);
                background-repeat:no-repeat;
                transform:rotate(-90deg);
                -webkit-transform:rotate(-90deg);
                -moz-transform:rotate(-90deg);
                -ms-transform:rotate(-90deg);
            }
        }
    }
    .switcher{
        margin-bottom: 15px;
    }
    ul{
        list-style: none;
        display:inline-block;
        &.size-indicator{
            display:inline-block;
            width: 15px;
            font-size: 16px;
            li{
               width: 100%;
               height: 2px;
               margin-bottom: 3px;
               background:$black;
               transform:translateY(0px);
               transition: transform 0.125s linear;
           }
           &.small{
               li:nth-child(1){
                   transform:translateY(1px);
               }
               li:nth-child(3){
                   transform:translateY(-1px);
               }
           }
           &.large{
               li:nth-child(1){
                   transform:translateY(-1px);
               }
               li:nth-child(3){
                   transform:translateY(1px);
               }
           }
        }
    }
    .size-toggle{
        position:relative;
        width:60px;
        height: 11px;
        margin: 0 0 0 8px;
        vertical-align: top;
        &:after{
            content:'';
            position:relative;
            width: 100%;
            display:block;
            background: rgb(230,230,230);
            position:absolute;
            height:6px;
            top:3px;
            left:0;
            right:0;
            z-index:0;
        }
        li{
            position:absolute;
            top:0;
            left:0;
            display:inline-block;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            background-color: rgb(230,230,230);
            vertical-align:top;
            z-index:1;
            transition: background-color 0.125s linear;
            &:nth-child(2){
                left: 50%;
                margin-left: -6px;
            }
            &:nth-child(3){
                left: auto;
                right:0;
            }
        }
    }
}

@media(min-width: 1201px){
    .filter-fixed #filters{
        position:fixed;
        top:110px;
        a{
            position:relative;
            display:block;
        }
    }
}


@media(max-width:1200px){

    #filters {
        position:relative;
        background: $white;
        width: 100%;
        padding: 30px 0 15px;
        margin: 0 auto;
        float: none;
        text-align:center;
        .switcher{
            display:inline-block;
            margin-bottom:0px;
        }
        a {
            display:inline-block;
            margin-bottom:0;
            margin-left:15px;
            vertical-align:top;
        }

    }

    .filter-fixed #filters{
        position: fixed;
        top: 40px;
        z-index: 10000000;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 15px 0px;
        background:rgba(255,255,255,.95);
    }

    .filter-fixed #filter-bar-wrapper{
        max-height:40px;
    }
}

@media(max-width:767px){
    #filters{
        display:none;
    }
}
