$header_height: 40px;
header{
    position:relative;
    height: auto;
    overflow:hidden;
    text-align:center;
    h1{
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        margin: 20px 0 0;
        line-height: .85;
        font-size: 11vw;
        @include highlight-text;
        text-align:center;
        font-weight: normal;
        letter-spacing: 0.01px;
    }
    .heading-wrapper{
        position:relative;
        display:inline-block;
        padding: 100px 0 30px;
        text-align:center;
        z-index:1;
        position:relative;
        .byline{
            display:none;
            position:absolute;
            top:45px;
            right:0px;
            //border-bottom:1px solid $black;
            padding-top:2px;
            max-width: 100%;
            font-size: 13px !important;
            color:$black;
            letter-spacing:0.11em !important;
            @include label-text;
            a{
                font-weight:normal;
                text-decoration:underline;
                color:$black;
            }
        }
    }
    .heading-image{
        // background-image:url('../../img/header-background.png');
        margin-top:250px;
        background-position: center top;
        background-size:cover;
        background-repeat:no-repeat;
        position:relative;
        z-index:2;
        img{
            width:100%;
        }
    }

    h1{
        display:inline-block;
        position:relative;
        margin-top:0;
        line-height:100%;
        color:$yellow;
        line-height:1.2;
        span{
            display:block;
            text-align:center;
            line-height:.85;
        }
        span.small{
            font-size:4.5vw;
            line-height:.85;
        }

        span.game-of-thrones{
        }

        span.episode-rankings{
        }

    }

    nav{
        width:100%;
        display:block;
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:55555;
        text-align:left;
        background-color:$greenblack;
        @include transition(background-color, .5s);
        .nav-wrapper{
            margin:0 auto;
            max-width:1400px;
        }
        .close-nav{
            display:none;
        }
        &:after{
            content:'';
            clear:both;
            display:table;
        }
        .logo{
            display:inline-block;
            max-width:105px;
            margin-left:10px;
            vertical-align:middle;
            height:$header_height;
            img{
                display:block;
                width:100%;
                margin-top:($header_height/2);
                @include transform(translateY(-50%));
            }
        }

        .title{
            display:none;
            color:$white;
            @include highlight-text;
            height:$header_height;
            padding-left:10px;
            vertical-align:middle;
            text-transform:uppercase;
            letter-spacing:.1em;
            font-size:14px;
            > span{
                &.non-mobile{
                    display:inline-block;
                }
                margin-top:($header_height/2);
                line-height:90%;
                margin-right:5px;
                @include transform(translateY(-50%));
            }
            .share{
                display:inline-block;
                width:($header_height/2);
                vertical-align:top;
                height:$header_height;
                margin-right:2px;
                text-indent:-55555px;
                overflow:hidden;
                background-size:($header_height/2);
                background-position: center center;
                background-repeat:no-repeat;
                &.facebook{
                    background-image:url('../../img/facebook.png');
                    background-image:url('../../img/facebook2.svg');
                }
                &.twitter{
                    background-image:url('../../img/twitter.png');
                    background-image:url('../../img/twitter2.svg');
                }
            }
        }
        ul{
            float:right;
            padding-right:10px;
            height:$header_height;

            &.main-nav{
                display:block;
            }

            &.fixed-nav{
                display:none;
                a.active_filter{
                    color:$white;
                }
            }

            li{
                display:inline-block;
                @include highlight-text;
                letter-spacing:0.075em;
                text-transform:uppercase;
                height:$header_height;
                a{
                    display:inline-block;
                    padding: 0 5px;
                    color:$white;
                    height:$header_height;
                    > span{
                        display:block;
                        margin-top:($header_height/2);
                        @include transform(translateY(-50%));
                    }
                }
            }
        }
    }
}

.filter-fixed{
    header{
        nav{
            background-color:$darkgreen;
        }

        .non-mobile{
            display:inline-block;
        }

        .title{
            display:inline-block;
        }
        ul{
            &.fixed-nav{
                display:block;
                a{
                    color:$white;
                    opacity:0.5;
                    &.active_filter{
                        opacity:1;
                    }
                }
            }
            &.main-nav{
                display:none;
            }
        }
    }
}

@media screen and (min-aspect-ratio: 4/2) {
    header{
        .heading-image{
            top:40%;
        }
    }
}

@media(max-width:1200px){
    header {
        .heading-image{
            top:0;
            background-position: center bottom;
            background-size:125%;
        }
    }
}

@media(max-width:1100px){
    header{
        h1{
            span.small{

            }

            span.game-of-thrones{
            }

            span.episode-rankings{
            }

        }
    }
}

@media(max-width:1023px) and (min-width:767px){
    header {
        h1{
            span.small{

            }

            span.game-of-thrones{
            }

            span.episode-rankings{
            }
        }
    }
}

@media(max-width:1023px){
    header{
        .heading-image{
            margin-top:220px;
        }
        h1{
            span.small{

            }

            span.game-of-thrones{

            }

            span.episode-rankings{

            }
        }
    }
}

@media(max-width:767px){
    .filter-fixed{
        header{
            .logo{
                display:none;
            }
        }
    }

    header{
        height:auto;
        padding-top:0;
        background-size: auto auto;
        h1{
            span.small{
                font-size:4vh;
            }

            span.game-of-thrones{
                font-size:14vw;
            }

            span.episode-rankings{
                font-size:14vw;
            }
        }
        &:before{
            height:45px;
        }
        nav{
            display:block;
            ul.main-nav{
                display:none;

            }
            ul.fixed-nav{
                display:block;
                padding:0;
                width:auto;
                height:38px;
                overflow:hidden;
                li{
                    display:none;
                    .season{
                        display:inline-block;
                    }
                    &.active_filter{
                        display:block;
                        opacity:1;
                    }
                    a{
                        padding:0 10px;
                    }
                }
            }
        }
        .heading-image{
            margin-top:0;
            top:auto;
            background-position: center bottom;
            background-size: 100%;
            img{
                width:130%;
                margin-left:-15%;
            }
        }
        .heading-wrapper{
            position:relative;
            height:auto;
            text-align:center;
            padding-top:95px;
            margin:0 auto 15px;
            width:100%;
            left:auto;
            h1{
                font-size:100px;
                line-height:1.55;
                span.block{
                    margin-bottom:30px;
                    font-size: 92px;
                    line-height: 0;
                    color: $black;
                    left:0;
                }
            }
            .byline{
                display:block;
                position:relative;
                right:auto;
                top:auto;
                padding-top:15px;
            }

        }

        .social{
            position:relative;
            right:auto;
            top:auto;
            bottom:auto;
            margin: 25px auto 0;
        }

        &.open{
            nav{
                .logo,
                .title{
                    display:none;
                }
                .close-nav{
                    display:block;
                    position:absolute;
                    padding:10px 15px;
                    color:$white;

                }
                ul.fixed-nav{
                    max-width:100%;
                    text-align:center;
                    li{
                        display:inline-block;
                        margin-left:0;
                        a{
                            color:$white;
                            opacity:0.5;
                        }
                        .season{
                            display:none;
                        }
                        a.active_filter{
                            color:$white;
                            opacity:1;
                        }

                    }
                }
            }
        }
    }
}

@media(max-width:374px){
    header{
        .heading-wrapper{
            padding-top:75px;
            margin-bottom:0;
        }

        nav{
            .title{
                font-size:12px;
            }
            ul.fixed-nav li{
                font-size:12px;
                a{
                    padding-top:12.5px;
                    padding-bottom:8.5px;
                }
            }
        }

        &.open{
            nav{
                .close-nav{
                    padding-top:8.5px;
                }
            }

        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    header{
        .nav {
            ul {
                display:none;
            }
        }
        .heading-image{
            display:none;
        }
    }
}
