header nav{
    width:100%;
    display:block;
}

header nav:after{
    content:'';
    clear:both;
    display:table;
}

header nav .logo{
    display:inline-block;
    max-width:150px;
    margin-left:30px;
    padding-top:15px;
}

header nav .logo img{
    display:block;
    width:100%;
}

header nav ul{
    float:right;
    padding-top:15px;
}

header nav ul li{
    display:inline-block;
    font-family:'NYTMag Sans', serif;
    font-weight:700;
    font-size:13px;
    color:$white;
    margin-right:30px;
    letter-spacing:0.075em;
}

header nav ul li a{
    display:inline-block;
    padding: 15px 5px;
    color:$white;
}

header .heading-wrapper{
    padding: 30px 0 190px;
}
