header{
    position:relative;
    height: auto;
    overflow:hidden;
    text-align:center;
    .heading-wrapper{
        position:relative;
        display:inline-block;
        padding: 60px 0 0;
        text-align:center;
        z-index:1;
        position:relative;
        .byline{
            display:none;
            position:absolute;
            top:45px;
            right:0px;
            //border-bottom:1px solid $black;
            padding-top:2px;
            max-width: 100%;
            font-size: 13px !important;
            color:$black;
            letter-spacing:0.11em !important;
            @include label-text;
            a{
                font-weight:normal;
                text-decoration:underline;
                color:$black;
            }
        }
    }
    .heading-image{
        // background-image:url('../../img/header-background.png');
        margin-top:250px;
        background-position: center top;
        background-size:cover;
        background-repeat:no-repeat;
        position:relative;
        z-index:2;
        img{
            width:100%;
        }
    }

    h1{
        display:inline-block;
        position:relative;
        margin-top:0;
        line-height:100%;
        color:$yellow;
        span{
            display:block;
            text-align:center;
            line-height:85%;
        }
        span.small{
            font-size:100px;
            line-height:100%;
        }

    }

    nav{
        width:100%;
        display:block;
        position:relative;
        z-index:1;
        text-align:left;
        background-color:$black;
        &:after{
            content:'';
            clear:both;
            display:table;
        }
        .logo{
            display:inline-block;
            max-width:110px;
            margin-left:10px;
            padding-top:10px;
            img{
                display:block;
                width:100%;
            }
        }
        ul{
            float:right;
            padding-top:10px;
            padding-right:10px;

            li{
                display:inline-block;
                @include filter-sort-text;
                color:$white;
                margin-left:20px;
                a{
                    display:inline-block;
                    padding: 5px 5px;
                    color:$white;
                }
            }
        }

    }
}

@media screen and (min-aspect-ratio: 4/2) {
    header{
        .heading-image{
            top:40%;
        }
    }
}

@media(max-width:1200px){
    header {
        .heading-image{
            top:0;
            background-position: center bottom;
            background-size:125%;
        }
    }
}

@media(max-width:1023px) and (min-width:767px){
    header {
        h1{
            span.block{
                top:-15px;
            }
        }
    }
}

@media(max-width:1023px){
    header{
        .heading-wrapper{
            margin-left:-360px;
        }
        .heading-image{
            margin-top:220px;
        }
        h1{
            font-size:220px;
        }
    }
}

@media(max-width:767px){
    header{
        height:auto;
        padding-top:0;
        background-size: auto auto;
        &:before{
            height:45px;
        }
        nav{
            display:none;
        }
        .heading-image{
            margin-top:0;
            top:auto;
            background-position: center bottom;
            background-size: 100%;
            img{
                width:130%;
                margin-left:-15%;
            }
        }
        .heading-wrapper{
            position:relative;
            height:auto;
            text-align:center;
            margin:10px auto 0;
            width:100%;
            left:auto;
            top:10vh;
            padding-bottom:125px;
            h1{
                font-size:100px;
                line-height:1.55;
                margin-bottom:-55px;
                span.block{
                    margin-bottom:30px;
                    font-size: 92px;
                    line-height: 0;
                    color: $black;
                    left:0;
                }
            }
            .byline{
                display:block;
                position:relative;
                right:auto;
                top:auto;
                padding-top:15px;
            }

        }

        .social{
            position:relative;
            right:auto;
            top:auto;
            bottom:auto;
            margin: 25px auto 0;
        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    header{
        .nav {
            ul {
                display:none;
            }
        }
        .heading-image{
            display:none;
        }
    }
}
