#item-list{
    float:right;
    width:100%;
    list-style:none;
    color:$yellow;
    &.sorting{
        opacity: 0;
    }
}

body:not(.ringer){
    .nba-team-wrapper{
        display:none !important;
    }
}

body #item-list.filtered{
    .card-item{
        max-height:0;
        opacity:0;
        overflow:hidden;
        z-index:0;
    }

    .overall-rank{
        display:none;
    }

    .season-rank{
        display:block;
    }

    &.season-1 .card-item.season-1,
    &.season-2 .card-item.season-2,
    &.season-3 .card-item.season-3,
    &.season-4 .card-item.season-4,
    &.season-5 .card-item.season-5,
    &.season-6 .card-item.season-6 {
        max-height:3000px;
        opacity:1;
        overflow:visible;
        z-index:1;
    }
}


.rebuilding{
    .card-item{
        .info-column{
            opacity:0 !important;
        }
        .image img{
            opacity:0 !important;
        }
    }
}

.card-item{
    display:block;
    position:relative;
    clear:both;
    padding: 0;

    .nba-team-wrapper{
        position:absolute;
        background:$black;
        color:$white;
        padding:5px 10px 6px;
        line-height:1;
        font-weight: 300;
        font-family: "GT Pressura Mono";
        font-size: 14px;
        word-spacing: -.1em;
        z-index:3;
    }

    > .nba-team-wrapper{
        @include transform(rotate(-90deg) translateX(-100%));
        @include transform-origin(0 0);
        left:-25px;
        top:33px;
    }

    &.sorted{
        visibility: hidden;
        opacity: 0;
        &.shown{
            visibility: visible;
            opacity:1;
        }
    }

    .wrapper{
        position:relative;
        height: 100%;
        margin: 0 0 25px;
        &:after{
            content: '';
            clear:both;
            display:table;
        }
    }

    h3{
        @include timmons-text;
        font-size: 67px;
        line-height: .65;
        font-weight: normal;
        text-transform:uppercase;
        letter-spacing:0;
        padding-top:14px;
        display:inline-block;
    }
    h4{
        font-size: 16px;
        line-height: 1.25;
        font-weight: 300;
        display: inline-block;
        font-family: "GT Pressura Mono";
        word-spacing: -.2em;
        strong {
            font-weight: 500;
            &:after {
                content: ', ';
                padding-right:5px;
            }
        }
    }

    h6{
        @include label-text;
        margin-bottom:7.5px;
    }
    &:after{
        content:'';
        clear:both;
        display:table;
    }

    .rank-column{
        position: relative;
        float:left;
        width: 10%;
        background-size:20%;
        height:100%;
        overflow:hidden;
        > .nba-team-wrapper{
            display:none;
        }
        .rank-wrapper{
            margin-top:50px;
            text-align:center;
            .episode{
                line-height:115%;
            }
            .director{
                span{
                    display:block;
                    text-align:center;
                }
            }
            .third-width{
                width:33%;
                display:inline-block;
                margin:15px 0;
                vertical-align:middle;
                background:$yellow;
                border:0px;
            }
        }
        .rank{
            @include timmons-text;
            font-size:50px;
            line-height:100%;
            position:relative;
            width:100%;
            text-align:center;
            .season-rank{
                display:none;
            }
        }

        img{
            visibility:hidden;
            opacity:0;
            position:absolute;
            width:90%;
            margin-left: -3%;
        }
    }

    .image-column{
        width:30%;
        float:left;
        height:auto;
        padding:0 2%;
        .image{
            width:100%;
            border-radius:50%;
            overflow:hidden;
            img{
                max-width:100%;
            }
        }
    }

    .info-column{
        float:left;
        padding: 30px 0;
        width: 100%;
        min-width:728px;
        max-width: 60%;
        opacity:1;

        .medium-show{
            padding-left:30px;
        }

        .title{
            font-size:36px;
            font-weight:500;
            margin-bottom:10px;
        }

        .item-footer{
            position:absolute;
            bottom:0;
            right:0;
            width:60%;
            border-top:1px solid $yellow;
            padding-top:15px;
            font-size:12px;
            .podcast{
                display:inline-block;
                float:right;
                text-align:right;
                font-style:italic;
                a{
                    color:$yellow;
                    &:after{
                        content:'';
                        display:block;
                        width:95%;
                        background:$yellow;
                        height:1px;
                        margin-top:2px;
                        margin-left:2px;
                    }
                }
            }
            .winner{
                width:50%;
                float:left;
                text-align:left;
            }
        }

        .player-description{
            clear:both;
            margin:30px 0 0;
            //padding-top: 30px;
            font-size:14px;
            //border-top: 1px solid #999;
            padding-right:40px;
            .player-headline{
                font-size: 22px;
                line-height: 1.2;
                margin-bottom: 15px;
                font-family: "GT Pressura Mono";
                font-weight: 300;
            }
            .player-subline {
                font-weight: 300;
                font-family: "GT Pressura Mono";
                font-size: 14px;
                word-spacing: -0.1em;
                strong {
                    @include label-text;
                }
            }
        }

        .player-main{
            float:left;
            max-width:47.5%;
        }

        .player-stats{
            position:relative;
            float:right;
            width:52.5%;
            max-height:87px;
            padding-right:50px;
            ul{
                list-style:none;
                width:calc(100% + 15px);
                margin: 0 -7.5px;
                text-align:right;
                li{
                    position:relative;
                    display:inline-block;
                    width: 85px;
                    max-width: 23.5%;
                    padding: 0 6.5px;
                    margin-bottom:24px;
                    .stat-wrap{
                        position:relative;
                        height:100%;
                        border-radius: 5px;
                        border: 1px solid #999;
                        overflow:hidden;
                    }

                    span{
                        display:block;
                        line-height:1;
                        &.title{
                            border-bottom:1px solid #999;
                            text-align:center;
                            padding: 6px 0;
                            @include label-text;
                        }
                        &.number{
                            @include timmons-text;
                            font-size: 43px;
                            margin: 13px 0 0;
                            text-align:center;
                            line-height:.77;
                        }
                        &.detail{
                            visibility: hidden;
                            opacity: 0;
                            padding-bottom:0;
                            @include detail-text;
                            margin-top:-8px;
                            max-height:18px;

                        }
                    }

                    &:nth-child(n+5){
                        visibility: hidden;
                        opacity: 0;
                        margin-bottom: 0;
                        padding-bottom:0;
                    }
                }
            }
        }

        .player-meta{
            visibility: visible;
            opacity:1;
            float:left;
            width: 44%;
            clear:left;
            .medium-column{
                overflow:hidden;
                &:nth-child(2),
                &:nth-child(3){
                    li{
                        visibility: hidden;
                        opacity:0;
                    }
                }
            }
            ul{
                list-style:none;
                font-size:14px;
                li{
                    position:relative;
                    visibility:hidden;
                    opacity:0;
                    margin: 1px 0;
                    &:first-of-type{
                        visibility:visible;
                        opacity:1;
                    }
                    &:after{
                        content:'........................................................................................................................................................';
                        display:block;
                        clear:both;
                        position:absolute;
                        z-index:1;
                        bottom: 4px;
                        font-size: 7px;
                        font-weight: 500;
                        letter-spacing:0.15em;
                    }

                    .label{
                        @include label-text;
                        position:relative;
                        background: rgb(245,245,245);
                        z-index:2;
                        padding-right:4px;
                    }

                    .value{
                        position:relative;
                        float:right;
                        background:rgb(245,245,245);
                        z-index:2;
                        padding: 0 0 0 4px;
                        @include value-text;
                    }
                }
            }
            &:after{
                content:'';
                display:table;
                clear:both;
            }
        }

        .player-stat-image{
            position:relative;
            float:right;
            width: 50%;
            padding-left: 5%;
            height:auto; /*this will be removed, determined by image size*/
            z-index:2;
            padding-bottom: 5%;
            background:#F5F5F5;
            h6{
                border-bottom:1px solid $black;
            }
            > div.stat-image-wrapper{
                position:relative;
                height:100%;
                width:100%;
                margin-top:10px;
                background-color:rgba(0,0,0,0.08);
                border-radius: 9px;
                overflow:hidden;
                .default{
                    visibility: visible;
                    opacity:1;

                    svg{
                        position:relative;
                        z-index:0;
                        /* Zones */
                        .zone{ fill:#fff; }
                        .rank-1 { fill: $rank-1; }
                        .rank-2 { fill: $rank-2; }
                        .rank-3 { fill: $rank-3; }
                        .rank-4 { fill: $rank-4; }
                        .rank-5 { fill: $rank-5; }
                        .rank-6 { fill: $rank-6; }

                        /* Strokes */
                        .cls-6, .cls-7, .cls-8 { fill: none; }
                        .cls-6, .cls-7 { stroke: #000; stroke-linejoin: round; stroke-width: 7px; }
                        .cls-7 { opacity: 0.2; }
                    }
                    .chart-numbers{
                        position:absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                        z-index:1;
                        > div{
                            width:14.5%;
                            height:13%;
                            position:absolute;
                            span{
                                display:block;
                                text-align:center;
                            }
                            .percentage{
                                margin-bottom: -3px;
                                font-size: 13px;
                                font-family: 'GT Pressura',sans;
                                letter-spacing: .05em;
                                font-weight: 300;
                                font-weight: 500;
                            }
                            .fga{
                                @include detail-text;
                            }
                            &.left-wing{
                                left:8%;
                                bottom:14.3%;
                            }

                            &.right-wing{
                                right:8%;
                                bottom:14.3%;
                            }

                            &.top-of-key{
                                left:50%;
                                @include transform(translateX(-50%));
                                bottom:8.6%;
                            }
                            &.mid{
                                left:50%;
                                @include transform(translateX(-50%));
                                top:34.6%;
                            }

                            &.at-rim{
                                left:50%;
                                @include transform(translateX(-50%));
                                top:4.4%;
                            }

                            &.left-mid{
                                left:16.6%;
                                top:20.5%;
                            }
                            &.right-mid{
                                right:16.6%;
                                top:20.5%;
                            }
                        }
                    }
                }

                .plus-minus-media{
                    visibility:hidden;
                    opacity:0;
                    &.visible{
                        visibility: visible;
                        opacity: 1;
                    }
                    img{
                        position:absolute;
                        height: 100%;
                        width: auto;
                        left:50%;
                        @include transform(translateX(-50%));
                    }

                }
                > div.plus-minus-media{
                    position:absolute;
                    top:0;
                    bottom:0;
                    right:0;
                    left:0;
                    background-size:cover;
                    background-position: center center;
                }
            }
            .charts-by{
                margin-top:5px;
                @include detail-text;
                font-size:10px;
                text-align:right;
                a{
                    color:$black;
                    text-decoration:underline;
                }
            }
            &.media-shown div.default{
                visibility:hidden;
                opacity:0;
            }
        }

        .player-info{
            overflow:hidden;
            max-height: 0;
            padding-top: 0px;
            padding-left:30px;
            clear:both;
            opacity:0;
            max-height:0;
        }

        .player-plus-minus {
            h6{
                border-bottom:1px solid $black;
                &:first-of-type{
                    max-width:calc(100% - 334px);
                }
            }

            ul{
                list-style: none;
                margin-bottom: 30px;
                li{
                    position: relative;
                    line-height: 1.25;
                    margin-bottom: 15px;
                    font-size:13px;
                    font-weight:300;
                    font-family: "GT Pressura Mono";
                    word-spacing: -.15em;
                    &.has-media .media-marker{
                        position:absolute;
                        top:4px;
                        left:-17px;
                        height:11px;
                        width:11px;
                    }
                }
            }
        }

        .player-disclaimer{
            margin-top:-15px;
            margin-bottom:30px;
            font-size:12px;
            font-family: "GT Pressura Mono";
            word-spacing: -.15em;
        }

        .more-ringer-coverage{
            display:none;
        }

    }

    .player-social{
        display:block;
        clear:both;
        margin-top:-13px;
        a{
            display:inline-block;
            height:25px;
            width:25px;
            margin-right: 5px;
            background-size: 100%;
            background-repeat: no-repeat;
            text-indent:-55555px;
            overflow:hidden;
            opacity:.21;
            &:hover{
                opacity:.5;
            }
            &.facebook{
                background-image:url(../../img/facebook.svg);
            }
            &.twitter{
                background-image:url(../../img/twitter.svg);
            }

        }
    }

    .ringer-coverage{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 30px 30px;
        visibility:hidden;
        opacity:0;
        h5{
            @include label-text;
            border-bottom: 1px solid $black;
            color:$black;
        }
        ul{
            list-style: none;
            background:$black;
            padding: 0 10px 10px;

            li a{
                display:block;
                color:white;
                margin-top: 10px;
                font-size: 16px;
                line-height: 1.25;
                font-weight: 300;
                display: inline-block;
                font-family: "GT Pressura Mono";
                word-spacing: -.2em;
                svg{
                    display:inline-block;
                    height:8px;
                }

                &:hover {
                    text-decoration:underline;
                }
            }
        }
    }

    .toggle-card{
        height:32px;
        width:32px;
        position:absolute;
        right:29px;
        background-size: 100%;
        background-position:center center;
        background-repeat:no-repeat;
    }

    &.expanded-card{
        .toggle-card{
            bottom: 28px;
            @include transform( rotate(-180deg));
        }
    }
}

.card-item.large .ringer-coverage {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 1260px){
    #item-list{
        width:1003px;
    }
}

@media(min-width:1023px){
    .card-item .rank-column{
        border-right-top-radius:.625rem;
        border-right-bottom-radius:.625rem;
        -webkit-border-top-left-radius: .625rem;
        -webkit-border-bottom-left-radius: .625rem;
        -moz-border-radius-topleft: .625rem;
        -moz-border-radius-bottomleft: .625rem;
        border-top-left-radius: .625rem;
        border-bottom-left-radius: .625rem;
    }
}

@media(max-width: 1200px){
    #item-list{
        width:100%;
        float:none;
    }
}


@media(min-width: 1024px){
    body.small .card-item{
        overflow:hidden;
        .nba-team-wrapper{
            display:none;
        }
    }
}


@media(max-width: 1023px){
    #item-list{
        width: 100%;
    }
    .card-item{
        > .nba-team-wrapper{
            display:none;
        }
        .rank-column{
            height:210px;
            background-size:10%;
            border-right:0px !important;
            -webkit-border-top-left-radius: .625rem;
            -webkit-border-top-right-radius: .625rem;
            -moz-border-radius-topleft: .625rem;
            -moz-border-radius-topright: .625rem;
            border-top-left-radius: .625rem;
            border-top-right-radius: .625rem;
            > .nba-team-wrapper{
                display:block;
                position:absolute;
                bottom:0;
                right:30px;
            }
            .ringer-coverage{
                display:none;
            }
            .rank{
                font-size: 200px;
                top: 30px;
                left: 30px;
            }
            img{
                opacity:1;
                visibility: 1;
                max-width:25%;
                right:0;
                left:auto;
                margin-top:-35px !important;
                @include transform(translateX(0));

            }
        }

        .info-column{
            .more-ringer-coverage{
                display:block;
                margin-bottom: 15px;
                border-bottom:0px;
            }
        }
        .player-social{
            margin-top:0;
        }
    }
}

@media(max-width:767px){
    #item-list{
        max-width:450px;
        margin:0 auto;
    }

    .card-item{
        max-width:500px;
        margin-bottom:20px;
        .rank-column{
            position:relative;
            top:auto;
            left:auto;
            bottom:auto;
            right:auto;
            width:100%;
            max-width: 100%;
            max-height: 220px;
            height: 220px;
            overflow:hidden;
            padding:30px 20px;
            @include transition(all, 0s, linear, 0s);
            > .nba-team-wrapper{
                right:15px;
            }
            .rank{
                font-size:117px;
                left:15px;
                top:15px;
                right:auto;
            }
            img{
                margin-left:auto;
                top: 0;
                width:100%;
                margin-top:auto;
                left:auto;
                margin:0 !important;
            }
        }
        .info-column{
            width: 100%;
            max-width:100%;
            float:none;
            min-width:auto;
            padding:20px 15px;
            h3{
                font-size:55px;
            }
            h4{
                font-size:15px;
            }
            .player-main{
                width:100%;
                max-width:100%;
            }
            .player-meta{
                padding: 30px 0;
                width:100%;
                float:none;
                margin-bottom:30px;
                clear:both;
                .medium-column{
                    width:100%;
                    float:none;
                }
            }
            .player-description{
                padding-right:0;
                margin-top:15px;
                .player-headline {
                    font-size:19px;
                }
            }
            .player-stat-image{
                width:100%;
                float:none;
                margin-bottom:30px;
                padding-left:0;
                padding-bottom:0;
                > div.stat-image-wrapper{
                    margin-top:10px;
                }
            }
            .player-stats{
                max-height:100%;
                height:auto;

                ul{
                    margin-top:10px;
                    width: calc(100% + 10px);
                    text-align: center;
                    margin-left: -5px;
                    &:after{
                        clear:both;
                        display:table;
                        content:'';
                    }

                    .medium-column:first-of-type{
                        padding-right:0;
                    }

                    li{
                        position: relative;
                        display: block;
                        width: 25%;
                        max-width: 25%;
                        padding: 0 5.5px;
                        margin-bottom: 0;
                        float: left;
                        &:nth-child(n+5){
                            display:none;
                            margin-top:10px;
                        }

                        span.detail{
                            position:relative;
                            bottom:auto;
                            font-size:10px;
                            margin: 5px 0 0;
                        }
                    }
                }
            }
            .player-info{
                display:none;
                overflow:visible;
                padding-left:0;
            }
            .player-social{
                margin:0;
            }
            .player-plus-minus {
                h6,
                h6:first-of-type{
                    max-width:100%;
                }
                ul{
                    margin-bottom: 30px;
                }
            }

            .medium-show{
                padding-left:0;
            }
        }
        .toggle-card{
            bottom:20px;
            right:20px;
        }
    }
}
