#item-list{
    float:right;
    width:100%;
    list-style:none;
    color:$yellow;
    &.sorting{
        opacity: 0;
    }
}

body:not(.ringer){
    .nba-team-wrapper{
        display:none !important;
    }
}

body #item-list.filtered{
    .card-item{
        max-height:0;
        opacity:0;
        overflow:hidden;
        z-index:0;
    }

    .overall-rank{
        display:none;
    }

    .season-rank{
        display:block;
    }

    &.season-1 .card-item.season-1,
    &.season-2 .card-item.season-2,
    &.season-3 .card-item.season-3,
    &.season-4 .card-item.season-4,
    &.season-5 .card-item.season-5,
    &.season-6 .card-item.season-6,
    &.season-7 .card-item.season-7 {
        max-height:3000px;
        opacity:1;
        overflow:visible;
        z-index:1;
    }
}


.rebuilding{
    .card-item{
        .info-column{
            opacity:0 !important;
        }
        .image img{
            opacity:0 !important;
        }
    }
}

.card-item{
    display:block;
    position:relative;
    clear:both;

    &.sorted{
        visibility: hidden;
        opacity: 0;
        &.shown{
            visibility: visible;
            opacity:1;
        }
    }

    .wrapper{
        position:relative;
        padding-bottom:45px;
        margin: 0 0 60px;
        &:after{
            content: '';
            clear:both;
            display:table;
        }
    }

    h3{
        @include highlight-text;
        font-size: 67px;
        line-height: .65;
        font-weight: normal;
        text-transform:uppercase;
        letter-spacing:0;
        padding-top:14px;
        display:inline-block;
    }
    h4{
        font-size: 16px;
        line-height: 1.25;
        @include body-text;
        font-weight: 300;
        display: inline-block;
        word-spacing: -.2em;
        strong {
            font-weight: 500;
            &:after {
                content: ', ';
                padding-right:5px;
            }
        }
    }

    h6{
        @include label-text;
        margin-bottom:7.5px;
    }
    &:after{
        content:'';
        clear:both;
        display:table;
    }

    .rank-column{
        position: relative;
        float:left;
        width: 10%;
        background-size:20%;
        overflow:hidden;
        > .nba-team-wrapper{
            display:none;
        }
        .rank-wrapper{
            margin-top:10px;
            text-align:center;
            .episode{
                font-family:'Lydia';
                font-size:16px;
                letter-spacing:0.05em;
                text-transform:uppercase;
                &:after{
                    display:block;
                    content:'——';
                    letter-spacing:-.12em;
                    font-size:30px;
                    line-height:.5;
                    margin-bottom:2px;

                }
            }
            .director{
                line-height:1.2;
                margin-top:10px;
                font-size:12px;
                span{
                    display:block;
                    text-align:center;
                }
            }
        }
        .rank{
            @include highlight-text;
            font-size:50px;
            line-height:100%;
            position:relative;
            width:100%;
            text-align:center;
            .season-rank{
                display:none;
            }
        }

        img{
            visibility:hidden;
            opacity:0;
            position:absolute;
            width:90%;
            margin-left: -3%;
        }
    }

    .image-column{
        width:30%;
        float:left;
        height:auto;
        padding:0 3%;
        .image{
            width:100%;
            border-radius:50%;
            overflow:hidden;
            border:3px solid;
            img{
                max-width:100%;
            }
        }
    }

    .info-column{
        position:relative;
        float:left;
        padding: 0px 0 60px;
        width: 100%;
        max-width: 60%;
        opacity:1;

        a{
            color:$yellow;
            font-weight:500;
            text-decoration:underline;
        }

        .main-content:after{
            content:'';
            display:table;
            clear:both;
        }

        .medium-show{
            padding-left:30px;
        }

        .title{
            font-size:36px;
            margin:15px 0;
            font-family: 'Lydia';
            line-height:.85;
            font-style:italic;

        }

        .author {
            font-family: 'Lydia';
            font-size: 16px;
            padding-top: 10px;
            letter-spacing: .05em;
            float:left;
        }

        .shares{
            float:right;
            a{
                display:inline-block;
                width:20px;
                height:20px;
                margin:8px 0 5px 5px;
                opacity:0.5;
                text-indent:-55555px;
                overflow:hidden;
                background-size:100%;
                background-position: center center;
                &.facebook{
                    background-image:url('../../img/facebook.png');
                    background-image:url('../../img/facebook.svg');
                }
                &.twitter{
                    background-image:url('../../img/twitter.png');
                    background-image:url('../../img/twitter.svg');
                }
                &:hover{
                    opacity:1;
                }
                img{
                    max-width:100%;
                }
            }
        }

        .item-footer{
            position:absolute;
            bottom:0;
            right:0;
            width:100%;
            border-top:1px solid $yellow;
            padding-top:10px;
            font-size:14px;
            .podcast{
                display:inline-block;
                float:right;
                text-align:right;
                font-style:italic;
                a{
                    display:block;
                    margin-top:-4px;
                    text-decoration:none;
                    color:$yellow;

                    .arrow{
                        display:inline-block;
                        width:20px;
                        height:20px;
                        background-image:url('../../img/circle-arrow.png');
                        background-image:url('../../img/circle-arrow.svg');
                        background-size:100%;
                        border:0;
                        margin-left:3px;
                    }

                    span{
                        display:inline-block;
                        vertical-align:middle;
                        border-bottom:1px solid $yellow;
                    }
                }
            }
            .winner{
                width:50%;
                float:left;
                text-align:left;
            }
        }

        .more-ringer-coverage{
            display:none;
        }

    }

    .player-social{
        display:block;
        clear:both;
        margin-top:-13px;
        a{
            display:inline-block;
            height:25px;
            width:25px;
            margin-right: 5px;
            background-size: 100%;
            background-repeat: no-repeat;
            text-indent:-55555px;
            overflow:hidden;
            opacity:.21;
            &:hover{
                opacity:.5;
            }
            &.facebook{
                background-image:url(../../img/facebook.svg);
            }
            &.twitter{
                background-image:url(../../img/twitter.svg);
            }

        }
    }

    .ringer-coverage{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 30px 30px;
        visibility:hidden;
        opacity:0;
        h5{
            @include label-text;
            border-bottom: 1px solid $black;
            color:$black;
        }
        ul{
            list-style: none;
            background:$black;
            padding: 0 10px 10px;

            li a{
                display:block;
                color:white;
                margin-top: 10px;
                font-size: 16px;
                line-height: 1.25;
                font-weight: 300;
                display: inline-block;
                @include body-text;
                word-spacing: -.2em;
                svg{
                    display:inline-block;
                    height:8px;
                }

                &:hover {
                    text-decoration:underline;
                }
            }
        }
    }

    .toggle-card{
        height:32px;
        width:32px;
        position:absolute;
        right:29px;
        background-size: 100%;
        background-position:center center;
        background-repeat:no-repeat;
    }

    &.expanded-card{
        .toggle-card{
            bottom: 28px;
            @include transform( rotate(-180deg));
        }
    }
}

.card-item.large .ringer-coverage {
    visibility: visible;
    opacity: 1;
}

@media(min-width:1023px){
    .card-item .rank-column{
        border-right-top-radius:.625rem;
        border-right-bottom-radius:.625rem;
        -webkit-border-top-left-radius: .625rem;
        -webkit-border-bottom-left-radius: .625rem;
        -moz-border-radius-topleft: .625rem;
        -moz-border-radius-bottomleft: .625rem;
        border-top-left-radius: .625rem;
        border-bottom-left-radius: .625rem;
    }
}

@media(max-width: 1023px){
    #item-list{
        width:100%;
        float:none;
        padding-left: 30px;
        padding-right: 30px;

        .card-item{
            .rank-column{
                width:12.5%;
                .rank-wrapper{
                    margin-top:15px;
                }
            }
            .image-column{
                width:22.5%;
            }
            .info-column{
                max-width:65%;
                padding-top:5px;
            }
        }
    }
}

@media(max-width: 767px){
    #item-list{
        width:100%;
        float:none;
        padding-left: 5%;
        padding-right: 5%;

        .card-item{
            .wrapper{
                margin-bottom:20px;
            }
            .rank-column{
                width:100%;
                float:none;
                .rank-wrapper{
                    margin-top:15px;
                }
            }
            .image-column{
                width:22.5%;
                display:none;
            }
            .info-column{
                float:none;
                max-width:100%;
                padding-top:5px;
                padding-bottom:0px;
                .title{
                    text-align:center;
                    //margin-bottom:-5px;
                    margin-top:0;
                }
                .mobile-director{
                    margin:-5px 0 30px;
                    font-size:11px;
                }
                .item-footer{
                    position:relative;
                    margin-top:30px;
                    .winner, .podcast{
                        position:relative;
                        float:none;
                        display:block;
                        text-align:left;
                        width:100%;
                        a{
                            margin-top:0;
                            .arrow{
                                position:absolute;
                                right:0;
                                @include transform(translateY(-50%));
                            }
                        }
                    }
                }
            }
        }
    }
}



// @media(max-width: 1023px){
//     #item-list{
//         width: 100%;
//     }
//     .card-item{
//         > .nba-team-wrapper{
//             display:none;
//         }
//         .rank-column{
//             height:210px;
//             background-size:10%;
//             border-right:0px !important;
//             -webkit-border-top-left-radius: .625rem;
//             -webkit-border-top-right-radius: .625rem;
//             -moz-border-radius-topleft: .625rem;
//             -moz-border-radius-topright: .625rem;
//             border-top-left-radius: .625rem;
//             border-top-right-radius: .625rem;
//             > .nba-team-wrapper{
//                 display:block;
//                 position:absolute;
//                 bottom:0;
//                 right:30px;
//             }
//             .ringer-coverage{
//                 display:none;
//             }
//             .rank{
//                 font-size: 200px;
//                 top: 30px;
//                 left: 30px;
//             }
//             img{
//                 opacity:1;
//                 visibility: 1;
//                 max-width:25%;
//                 right:0;
//                 left:auto;
//                 margin-top:-35px !important;
//                 @include transform(translateX(0));
//
//             }
//         }
//
//         .info-column{
//             .more-ringer-coverage{
//                 display:block;
//                 margin-bottom: 15px;
//                 border-bottom:0px;
//             }
//         }
//         .player-social{
//             margin-top:0;
//         }
//     }
// }
//
// @media(max-width:767px){
//     #item-list{
//         max-width:450px;
//         margin:0 auto;
//     }
//
//     .card-item{
//         max-width:500px;
//         margin-bottom:20px;
//         .rank-column{
//             position:relative;
//             top:auto;
//             left:auto;
//             bottom:auto;
//             right:auto;
//             width:100%;
//             max-width: 100%;
//             max-height: 220px;
//             height: 220px;
//             overflow:hidden;
//             padding:30px 20px;
//             @include transition(all, 0s, linear, 0s);
//             > .nba-team-wrapper{
//                 right:15px;
//             }
//             .rank{
//                 font-size:117px;
//                 left:15px;
//                 top:15px;
//                 right:auto;
//             }
//             img{
//                 margin-left:auto;
//                 top: 0;
//                 width:100%;
//                 margin-top:auto;
//                 left:auto;
//                 margin:0 !important;
//             }
//         }
//         .info-column{
//             width: 100%;
//             max-width:100%;
//             float:none;
//             min-width:auto;
//             padding:20px 15px;
//             h3{
//                 font-size:55px;
//             }
//             h4{
//                 font-size:15px;
//             }
//             .player-main{
//                 width:100%;
//                 max-width:100%;
//             }
//             .player-meta{
//                 padding: 30px 0;
//                 width:100%;
//                 float:none;
//                 margin-bottom:30px;
//                 clear:both;
//                 .medium-column{
//                     width:100%;
//                     float:none;
//                 }
//             }
//             .player-description{
//                 padding-right:0;
//                 margin-top:15px;
//                 .player-headline {
//                     font-size:19px;
//                 }
//             }
//             .player-stat-image{
//                 width:100%;
//                 float:none;
//                 margin-bottom:30px;
//                 padding-left:0;
//                 padding-bottom:0;
//                 > div.stat-image-wrapper{
//                     margin-top:10px;
//                 }
//             }
//             .player-stats{
//                 max-height:100%;
//                 height:auto;
//
//                 ul{
//                     margin-top:10px;
//                     width: calc(100% + 10px);
//                     text-align: center;
//                     margin-left: -5px;
//                     &:after{
//                         clear:both;
//                         display:table;
//                         content:'';
//                     }
//
//                     .medium-column:first-of-type{
//                         padding-right:0;
//                     }
//
//                     li{
//                         position: relative;
//                         display: block;
//                         width: 25%;
//                         max-width: 25%;
//                         padding: 0 5.5px;
//                         margin-bottom: 0;
//                         float: left;
//                         &:nth-child(n+5){
//                             display:none;
//                             margin-top:10px;
//                         }
//
//                         span.detail{
//                             position:relative;
//                             bottom:auto;
//                             font-size:10px;
//                             margin: 5px 0 0;
//                         }
//                     }
//                 }
//             }
//             .player-info{
//                 display:none;
//                 overflow:visible;
//                 padding-left:0;
//             }
//             .player-social{
//                 margin:0;
//             }
//             .player-plus-minus {
//                 h6,
//                 h6:first-of-type{
//                     max-width:100%;
//                 }
//                 ul{
//                     margin-bottom: 30px;
//                 }
//             }
//
//             .medium-show{
//                 padding-left:0;
//             }
//         }
//         .toggle-card{
//             bottom:20px;
//             right:20px;
//         }
//     }
// }
