/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,body{
    height: 100%;
}

html {
    color: #222;
    font-size: 1em;
    font-family: 'NYTMag Sans', serif;
    line-height: 1.4;
}

*{
    padding: 0;
    margin: 0;

    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a{
    text-decoration:none;
}

h1{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 20px 0 4px;
    line-height: .55;
    font-size: 300px;
    text-transform: uppercase;
    color: #000;
    font-family: 'TIMMONS NY';
    text-align:center;
    font-weight: normal;
}

h1 span.block{
    display:block;
    font-size:72px;
    line-height:1;
    margin-bottom:75px;
}

h1 span.white{
    color: #fff;
}

h3{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 20px;
    width:100%;
    letter-spacing:0.15em;
}

h3 .brand{
    color:#f23208;
}

header{
    padding: 55px 0 190px;
    background: #43be6d;
}

#content{
    width:95%;
    max-width:1500px;
    padding: 0 60px;
    margin:0 auto 60px;
}

#content:after{
    content:'';
    clear:both;
    display:table;
}

#intro{
    position: relative;
    width:95%;
    margin: -130px auto 60px;
    padding:60px;
    max-width:1500px;
    list-style: none;
    font-size: 23px ;
    font-family: 'Tiempos Headline';
    background: #fff;
    z-index: 2;
}

#intro .intro-wrapper{
    position:relative;
    border: 10px solid #000;
    padding: 60px 60px 20px;
}

#intro .intro-wrapper > div{
    position:relative;
    z-index:3;
}

#intro .intro-wrapper:after{
    content: '';
    display:block;
    height: calc(100% - 55px);
    width: calc(100% + 10px);
    position:absolute;
    top: 65px;
    left: 0;
    background:#fff;
    z-index:2;
}

#intro .social{
    margin-top: 30px;
}

#intro .social a{
    display:inline-block;
    height:41px;
    width:41px;
    margin-right: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#intro .social a.facebook{
    background-image:url(../img/facebook.svg);
}

#intro .social a.twitter{
    background-image:url(../img/twitter.svg);
}

#intro:after{
    clear:both;
    display:table;
    content:'';
}

#filter-bar-wrapper{
    position:relative;
    width:100%;
    max-width:1500px;
    max-height:80px;
    height: 80px;
    margin:0 auto 60px;
    padding: 0;
    z-index:5;
    overflow:hidden;
    transition: max-height .125s linear .125s;
}

#filter-bar{
    border: 2px solid #000;
    border-radius: 9px;
    overflow:hidden;
    height: 100%;
    width: 100%;
    background: #fff;
}

#filter-bar a{
    position:relative;
    display:block;
    float:left;
    vertical-align:middle;
    height: 100%;
    font-weight:bold;
    text-transform:uppercase;
    color: #000;
    font-size:17px;
    line-height: 1;
    text-align:center;
    width: 16.25%;
    overflow:hidden;
    border-right:2px solid #000;
}
#filter-bar a:last-of-type{
    border-right: 0;
}

#filter-bar a.large{
    width: 22.5%;
}

#filter-bar a span{
    position:absolute;
    left:0;
    right:0;
    top: 50%;
    margin-top: -7px;
}

#filters{
    width:200px;
    float:left;
    margin: 0;
    clear:right;
    transform: translateY(0);
    transition: transform .125s linear .125s;
}

#filters a{
    position:relative;
    display:block;
    margin: 0 0 15px;
    font-size:15px;
    color:#000;
    line-height:1;
    font-weight:500;
    text-transform:uppercase;
}

#filters a:hover{
    color:#000;
}

#filters a:last-of-type{
    margin-right: 0;
}

#filters a.active,
#filters a.active:hover{
    color:#43be6d;
}

#filters a.active:before{
    content:'';
    display:block;
    position:absolute;
    left:-20px;
    top:2px;
    width:17px;
    height:10px;
    background-image:url(../img/toggle.png);
    background-image:url(../img/arrow.svg);
    background-repeat:no-repeat;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
}

#filters .switcher{
    margin-bottom: 15px;
}

#filters ul{
    list-style: none;
    display:inline-block;
}

#filters ul.size-indicator{
    display:inline-block;
    width: 15px;
    font-size: 16px;
}

#filters ul.size-indicator li{
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    background:#000;
}

#filters .size-toggle{
    position:relative;
    width:60px;
    height: 11px;
    margin: 0 0 0 8px;
    vertical-align: top;
}
#filters .size-toggle:after{
    content:'';
    position:relative;
    width: 100%;
    display:block;
    background: rgb(230,230,230);
    position:absolute;
    height:6px;
    top:3px;
    left:0;
    right:0;
    z-index:0;
}

#filters .size-toggle li{
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: rgb(230,230,230);
    vertical-align:top;
    z-index:1;
    transition: background-color 0.125s linear;
}

#filters .size-toggle li.active{
    background-color: rgb(205,205,205);
}

#filters .size-toggle li:nth-child(2){
    left: 50%;
    margin-left: -6px;
}

#filters .size-toggle li:nth-child(3){
    left: auto;
    right:0;
}

.disclaimer{
    display:none;
    text-transform: uppercase;
    letter-spacing:0.075em;
    font-size:14px;
    width:calc(100% - 395px);
    float:right;
    clear:both;
}

.loaded .disclaimer{
    display:block;
}

#item-list{
    float:right;
    width:calc( 100% - 200px);
    list-style:none;;
}

.card-item{
    display:block;
    padding: 0;
    margin: 0;
    height: 5555px;
    border-radius:.625rem;
    overflow:hidden;
    border: .00875rem solid #000;
    margin-bottom:30px;
    transition: max-height 0.325s ease-out .5s;
}

.card-item .wrapper{
    height: 100%;
    transition: max-height 0.25s ease-out .5s;
}

.card-item .wrapper:after{
    content: '';
    clear:both;
    display:table;
}

.card-item.small,
.card-item.small .wrapper{
    max-height:145px;
}

.card-item .toggle-card{
    height:32px;
    width:32px;
    background-transparent;
    background-image:url(../img/toggle-arrow.png);
    background-image:url(../img/toggle-arrow.svg);
    background-position:center center;
    background-size: 100%;
    position:absolute;
    right:29px;
    transition: bottom 0.125s ease-out .5s, transform 0.125s linear 1s;
}

.card-item.small .toggle-card{
    bottom:56.5px;
}

.card-item .rank-column{
    position: relative;
    float: left;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 18.25%;
    background: #00adef;
    padding: 30px 25px;
    transition: max-width .25s ease-out .25s;
}

.card-item .rank-column .tier{
    font-weight: bold;
    font-size:14px;
    text-transform:uppercase;
}

.card-item .rank-column .rank{
    font-family: 'TIMMONS NY';
    font-size:120px;
    position:absolute;
    top:30px;
    right:25px;
    line-height:1;
}

.card-item .info-column{
    float:left;
    padding: 30px;
    width: 100%;
    max-width: 81.75%;
    transition: max-width .25s ease-out .25s;
}

.card-item .info-column h3{
    font-family: 'TIMMONS NY';
    font-size: 60px;
    line-height: .75;
    font-weight: normal;
    text-transform:uppercase;
    letter-spacing:0;
    padding-top:7.5px;
}

.card-item .info-column h4{
    font-size:16px;
    text-transform: uppercase;
    line-height: 1.25;
}

.card-item .info-column .plus-minus{
    visiblity:hidden;
    opacity:0;
    margin-top: 15px;
    transition: max-width .25s ease-out .25s, visibility 0s linear .25s, opacity .25s 0s;;
}

.card-item .info-column .plus-minus ul{
    list-style: none;
    margin-bottom: 15px;
}

.card-item.small img,
.card-item.small .ringer-coverage{
    visibility:hidden;
    opacity:0;
    transition: visibility 0s linear .25s, opacity .25s 0s;
}

.card-item .ringer-coverage{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 30px 30px;
    background: #00adef;
    transition: visibility 0s linear .25s, opacity .25s linear 0s;
}

.card-item .ringer-coverage h5{
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.card-item .ringer-coverage ul{
    list-style: none;
    font-family: 'Tiempos Headline';
}

.card-item .ringer-coverage ul li a{
    display:block;
    color:#fff;
    letter-spacing: 0.075rem;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.25;
    font-size: 16px;
}

.card-item img{
    position:absolute;
    width:100%;
    margin-left: -20%;
    margin-top: -50px;
}

.card-item.expanded,
.card-item.large,
.card-item.expanded .wrapper,
.card-item.large .wrapper{
    max-height: 1000px;
    transition: all 0.25s ease-out 0.3s;
}

.card-item.expanded img,
.card-item.large img{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, opacity .25s .25s;
}

.card-item.expanded .rank-column,
.card-item.large .rank-column {
    max-width: 36%;
    transition: max-width .25s ease-out;
}

.card-item.expanded .info-column,
.card-item.large .info-column {
    max-width: 64%;
    visibility: visible;
    opacity: 1;
    transition: max-width .25s ease-out;
}

.card-item.expanded .info-column .plus-minus,
.card-item.large .info-column .plus-minus{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, opacity .25s .25s;
}

.card-item.expanded .toggle-card{
    bottom: 30px;
    transform: rotate(-180deg);
    transition: bottom 0.125s ease-out .25s, transform 0.125s linear;
}

.card-item.large .toggle-card{
    display:none;
}

.card-item.expanded .ringer-coverage,
.card-item.large .ringer-coverage {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, opacity .25s 1s;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media(min-width: 768px){
    .filter-fixed #content{
        padding-top: 140px;
    }

    .filter-fixed #filters{
        position:fixed;
        top:170px;
        transform:translateY(-60px);
    }

    .filter-fixed #filter-bar-wrapper{
        position:fixed;
        top:30px;
        padding: 0;
        max-width: calc(95% - 120px);
        max-height: 50px;
    }

    #filters a{
        position:relative;
        display:block;
    }
}

@media (max-width: 1023px) {
    header {
        height:360px;
        background-size: auto 100%;
    }

    header .logo-wrapper{
        height:245px;
    }


    #intro{
        width: 100%;
    }

    .disclaimer{
        width:calc(100% - 325px);
    }

    #filters {
        width: 200px;
    }

    #item-list{
        width:calc(100% - 220px);
        margin-left:20px;
    }
}

@media (max-width: 767px) {
    header{
        height:auto;
        padding-bottom:60px;
        padding-top:0;
        background-size: auto auto;
    }

    header:before{
        height:45px;
    }

    header .heading-wrapper{
        position:relative;
        height:auto;
        text-align:center;
        margin:10px auto 0;
        max-width:350px;
    }

    header .heading-wrapper .logo-wrapper{
        height: auto;
    }

    header .heading-wrapper img{
        display:inline-block;
        width:80%;
        float:none;
    }

    header #logo{
        display:block;
        position:relative;
        width:125px;
        margin: 0 auto;
        right:auto;
        top:auto;
    }

    header #logo img{
        height:auto;
    }

    header .social{
        position:relative;
        right:auto;
        top:auto;
        bottom:auto;
        margin: 25px auto 0;
    }

    header .heading-wrapper img.header-text{
        margin-top:32px;
        margin-left:0;
    }

    #content{
        width:90%;
    }

    #intro{
        float:none;
        text-align:left;
        width:100%;
        padding:0;
    }

    #filters{
        width:100%;
        margin-bottom:20px;
    }

    #item-list{
        width:100%;
        margin-left:0px;
        float:none;
    }

    .disclaimer{
        width:100%;
    }

    .food-item .wrapper{
        padding-left:0;
    }

    #filters{
        text-align:center;
    }

    #filters a{
        display:none;
        margin:0;
    }

    #filters a:hover{
        color:#f23208;
    }

    #filters a.active{
        position:relative;
        display:inline-block;
        padding-right: 35px;
        min-width:100px;
        transform:translateX(17px);
        -webkit-transform:translateX(17px);
        -moz-transform:translateX(17px);
    }

    #filters a.active:before{
        display:none;
    }

    #filters a.active:after{
        content:'';
        display:block;
        position:absolute;
        right: 11px;
        top: 6.5px;
        width: 16px;
        height:10px;
        background-image:url(../img/toggle.png);
        background-image:url(../img/arrow.svg);
    }

    #filters a.active,
    #filters a.active:hover{
        text-shadow: none;
    }

    .filters-open #item-list,
    .filters-open #intro,
    .filters-open header{
        display:none;
    }

    .filters-open #filters{
        position:fixed;
        top:0;
        bottom:0;
        right:0;
        left:0;
        padding:80px 10px 0;
        text-align:center;
        background:#fff;
        width:100%;
        height:100%;
        z-index:5555;
        overflow:scroll;
    }

    .filters-open #filters a{
        display:block;
        margin-bottom:25px;
        padding: 0 !important;
    }

    .filters-open #filters a.active,
    .filters-open #filters a.active:hover{

    }

    .filters-open #filters a.active:after{
        display:none;
    }

    .food-item:after{
        margin: 40px 0;
    }

    .food-item h3 span{
        margin-bottom:5px;
        display:block;
    }

    .food-item h3{
        width: calc(100% - 100px);
    }

    .food-item .heading{
        width:100%;
        text-align:center;
    }

    .food-item .heading h3{
        width:100%;
    }

    .food-item .image-wrapper{
        position:relative;
        display:block;
        width:100%;
        text-align:center;
        margin-left: 0;
    }

}

@media (max-width: 660px) {

    #intro{
        width: 94%;
        margin: 0 auto 40px;
        text-align:center;
        padding-right:0;
    }

    #filters{
        margin-bottom: 50px;
    }

    .stats{
        font-size:14px;
    }
}
