/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,body{
    height: 100%;
}

html {
    color: #222;
    font-size: 1em;
    font-family: 'NYTMag Sans', serif;
    line-height: 1.4;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;

    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: $black;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.stroke{
    @include transition(stroke 0.25s linear);
}

.arrow{
    @include transition(fill 0.25s linear);
}

a.active,
a.active:hover{
    color: #43be6d;
    @include transition(color 0.25s linear);
}

a{
    text-decoration:none;
}

h1{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 20px 0 4px;
    line-height: .55;
    font-size: 275px;
    text-transform: uppercase;
    color: $black;
    font-family: 'TIMMONS NY';
    text-align:center;
    font-weight: normal;
}

h1 span.block{
    display:block;
    font-size:72px;
    line-height:.55;
    margin-bottom:75px;
    letter-spacing:0.025em;
}

h1 span.white{
    color: $white;
}

h3{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 20px;
    width:100%;
    letter-spacing:0.15em;
}

h3 .brand{
    color:#f23208;
}

#main-content{
    position:relative;
    &:after{
        content:'';
        clear:both;
        display:table;
    }
}

#content{
    position:relative;
    z-index:3;
    width:100%;
    max-width:1390px;
    padding: 60px;
    margin:0 auto;
    background:$white;

    &:after{
        content:'';
        clear:both;
        display:table;
    }
}

.credits{
    @include detail-text;
    float:right;
    margin-bottom:60px;
    margin-top:-15px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media(min-width: 1101px){
    .filter-fixed #content{
        padding-top: 170px;
    }
}

@media(max-width:1400px){
    #content{
        padding: 0 30px;
    }
}

@media(max-width:1200px){
    #content{
        padding: 0 20px;
    }
}

@media(max-width: 1100px){
    .filter-fixed #content{
        padding-top: 85px;
    }
}

@media(max-width:767px){
    #content{
        padding:0 15px;
        width: 100%;
    }

    .credits{
        margin-top:-15px;
    }

    .filter-fixed #content{
        padding-top:75px;
    }
}
