#mobile-nav{
    display:none;
}

.is-mobile{
    display:none;
}
.is-tablet{
    display:none;
}

.non-mobile{
    display:block;
    &.label{
        display:inline-block;
    }
}

@media(max-width:1200px) and (min-width:768px){
    .is-mobile{
        display:none;
    }
    .non-mobile{
        display:none;
    }
    .is-tablet{
        display:block;
        &.label{
            display:inline-block;
        }
    }
}

@media(max-width:767px){
    .is-mobile{
        display:inline-block;
    }

    .non-mobile{
        display:none;
    }

    .mobile .logo,
    .mobile .main-nav{
        display:none;
    }

    #mobile-nav{
        position:relative;
        display:block;
        width:100%;
        border-radius:5px;
        background:$white;
        padding:10px 0;
        border:1px solid $black;
        background-image:url('../../img/mobile-nav-arrow.png');
        background-image:url('../../img/mobile-nav-arrow.svg');
        background-position: right 15px center;
        background-size: 11px;
        background-repeat:no-repeat;
        z-index:5555;
        margin-bottom:30px;
        .toggle-zone{
            position:absolute;
            top:0;
            right:0;
            left:0;
            z-index:5;
            height:44px;
        }
        .toggle-close{
            position:fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:transparent;
            z-index:0;
            display:none;
        }
        .toggle{
            float:left;
            width:18px;
            height:20px;
            margin-right:20px;
            margin-left:15px;
            background-image:url('../../img/toggle.png');
            background-image:url('../../img/toggle.svg');
            background-size:100%;
            background-position:center center;
        }
        .current-sort{
            font-family: 'NYTMag Sans', serif;
            font-size:14px;
            text-transform:uppercase;
            font-weight:800;
            letter-spacing:0.125rem;
            padding:2px 0;
        }

        .nav-contents{
            display:none;
        }
        &.open{
            background-position: right 15px top 19px;
            .current-sort{
                display:none;
            }
            .nav-contents{
                position:relative;
                display:block;
                z-index:1;
                .current-sort{
                    display:block;
                }
                ul{
                    &.sort{
                        margin-top:10px;
                        list-style:none;
                        width:100%;
                        li{
                            display:block;
                            width:calc(100% - 15px);
                            margin:0 auto;
                            border-top:1px solid #ccc;
                            padding:10px 40px;
                            font-family:'NYTMag Sans', sans-serif;;
                            text-transform:uppercase;
                            font-size:14px;
                            font-weight:800;
                            &:last-of-type{
                                border-bottom:1px solid #ccc;
                            }
                        }
                    }
                }
                .nav-actions{
                    padding:20px 0 10px;
                    width:100%;
                    &:after{
                        content:'';
                        clear:both;
                        display:table;
                    }
                    > div{
                        float:left;
                        width:50%;
                        font-weight:500;
                        font-size:14px;
                        &.nav-switcher{
                            padding-left:15px;
                        }
                    }
                    .label{
                        margin-bottom:5px;
                    }
                    a{
                        display:block;
                        color:$black;
                        text-transform:uppercase;
                        margin-bottom:5px;
                    }
                }
            }
            .nav-switcher{
                 .label{
                    margin-left:30px;
                }
            }

            .toggle-close{
                display:block;
            }
            .nav-contents{

            }
        }
    }


    .mobile #mobile-nav .size-toggle{
        position:relative;
        float:left;
        width:12px;
        height: 53px;
        margin: 0 10px 0 8px;
        vertical-align: top;
        &:after{
            content:'';
            position:relative;
            height: 100%;
            display:block;
            background:#e6e6e6;
            position:absolute;
            width:6px;
            top:3px;
            left:0;
            right:0;
            z-index:0;
        }

        li{
            position:absolute;
            top:0;
            left:-3px;
            display:inline-block;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            background: #e6e6e6;
            vertical-align:top;
            z-index:1;
            &:nth-child(2){
                top: calc(50% - 3px);
            }
            &:nth-child(3){
                top: calc(100% - 3px);
            }

        }
    }

    .filter-fixed #mobile-nav{
        position:fixed;
        top:0;
        left:0;
        right:0;
        border-radius:0;
        border-top:0;
        border-right:0;
        border-left:0;
    }
}
