.m_fultz{
    .rank-column img{
        @include transform(translateX(-5px));
    }
}

// Tablet landscape styles
@media(max-width:1200px){
    .b_adebayo{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            
        }
    }

    .o_anunoby{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

     .d_bacon{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }


     .l_ball{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:80%;
        }
    }

    .v_beachum{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .j_bell{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -7%;
            width:80%;
        }
    }

    .j_blossomgame{
        .rank-column img{
            @include transform(translateX(-5px));
            width:80%;
        }
    }

    .t_bradley{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:100%;
        }
    }

    .s_brown{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -5%;
            width:70%;
        }
    }

    .s_brown{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:70%;
        }
    }

     .j_collins{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -18%;
            width:80%;
        }
    }

    .z_collins{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -10%;
        }
    }

    .h_diallo{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .v_edwards{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .j_evans{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -10%;
        }
    }

    .j_evans{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 100%;
        }
    }

     .d_fox{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 120%;
            margin-left: -33%;
        }
    }

    .m_fultz{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left:-10%;
        }
    }

    .h_giles{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 120%;
            margin-left: -25%;
        }
    }

    .j_hart{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -25%;
        }
    }

    .i_hartenstein{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -25%;
        }
    }

    .w_iwundu{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 100%;
            margin-left: -30%;
        }
    }

    .j_jackson{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 90%;
            margin-left: -8%;
        }
    }

    .ju_jackson_md{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -20%;
        }
    }

    .ju_jackson{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .j_jeanne{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 70%;
            margin-left: -13%;
        }
    }

    .a_jones{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 70%;
            margin-left: -13%;
        }
    }

    .l_kennard{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -17%;
        }
    }

    .a_kulboka{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -13%;
        }
    }

    .r_kurucs{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -22%;
        }
    }



    
}

// Tablet portrait styles
@media(max-width:1023px){
    .m_fultz{
        .rank-column img{
            @include transform(translateX(-5px));
        }
    }
}

// Mobile styles
@media(max-width:767px){
    .m_fultz{
        .rank-column img{
            @include transform(translateX(-5px));
        }
    }
}
