.b_adebayo{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;

        }
    }

     .i_anigbogu{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -13%;
        }
    }

    .o_anunoby{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

     .d_bacon{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }


     .l_ball{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:80%;
        }
    }

    .v_beachem{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .j_bell{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -7%;
            width:80%;
        }
    }

    .j_blossomgame{
        .rank-column img{
            @include transform(translateX(-5px));
            width:80%;
            margin-left:0;
        }
    }

    .t_bradley{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:100%;
        }
    }

    .s_brown{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -8%;
            width:70%;
        }
    }

    .t_bryant{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:70%;
        }
    }

     .j_collins{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -18%;
            width:80%;
        }
    }

    .z_collins{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -10%;
        }
    }

    .h_diallo{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .v_edwards{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .j_evans{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -10%;
        }
    }

    .j_evans{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 100%;
        }
    }

     .d_fox{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 120%;
            margin-left: -33%;
        }
    }

    .m_fultz{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left:-10%;
        }
    }

    .h_giles{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 120%;
            margin-left: -25%;
        }
    }

    .j_hart{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -25%;
        }
    }

    .i_hartenstein{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -25%;
        }
    }

    .w_iwundu{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 100%;
            margin-left: -30%;
        }
    }

    .j_jackson{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 90%;
            margin-left: -8%;
        }
    }

    .ju_jacksonmd{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -20%;
        }
    }

    .ju_jackson{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -15%;
        }
    }

    .j_jeanne{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 70%;
            margin-left: -13%;
        }
    }

    .a_jones{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -13%;
        }
    }

    .l_kennard{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -17%;
        }
    }

    .a_kulboka{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -13%;
        }
    }

    .r_kurucs{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -22%;
        }
    }

    .t_leaf{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -18%;
        }
    }

    .m_lessort{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -18%;
            width:100%;
        }
    }

    .l_markkanen{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 75%;
            margin-left: -13%;
        }
    }

    .d_mitchell{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -18%;
            width:100%;
        }
    }

    .m_monk{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -10%;
        }
    }

    .m_morris{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -10%;
        }
    }

    .j_motley{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

    .k_mushidi{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 77%;
            margin-left: -12%;
        }
    }

    .n_tilikina{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 77%;
            margin-left: -12%;
        }
    }

    .s_ojeleye{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 77%;
            margin-left: -12%;
        }
    }

    .c_oliver{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 77%;
            margin-left: -12%;
        }
    }

    .a_pasecniks{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 90%;
            margin-left: -10%;
        }
    }

    .j_patton{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 80%;
            margin-left: -6%;
        }
    }

    .a_peters{
        .rank-column img{
            @include transform(translateX(-5px));
            width: 100%;
            margin-left: -6%;
        }
    }

    .i_rabb{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -30%;
        }
    }

    .d_robinson{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

    .e_sumner{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

    .c_swanigan{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

    .j_tatum{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

    .s_thornwell{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
        }
    }

    .m_wagner{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -30%;
        }
    }

    .d_white{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:100%;
        }
    }

    .d_wilson{
        .rank-column img{
            @include transform(translateX(-5px));
            margin-left: -20%;
            width:100%;
        }
    }

// Tablet landscape styles
@media(max-width:1200px){





}

// Tablet portrait styles
@media(max-width:1023px) and (min-width:768px){
    .card-item{
        .rank-column img{
            // width:50% !important;
            // margin-left:0 !important;
            // margin-right:0 !important;
            // left:50%;
        }
    }

}

// Mobile styles
@media(max-width:767px){
    .card-item,
    .card-item.expanded-card{
        .rank-column img{
            max-width:50%;
            margin-top:10px !important;
            @include transform(translateX(0) !important);
        }
    }
}
