

/* Base Theme Transitions */
.background-theme{
   transition:background-color 0.25s linear;
}

.color-theme{
    transition:color 0.25s linear;
}

.border-theme{
   transition:border-color 0.25s linear;
}

.border-theme-before:before{
    transition:border-color 0.25s linear;
}

.background-theme-after:after{
    transition:background-color 0.25s linear;
}

/* Ringer Theme */
.ringer .background-theme{
   background-color: $ringer !important;
}

.ringer .color-theme{
   color: $ringer !important;
}

.ringer .border-theme{
   border-color: $ringer !important;
}

.ringer .border-theme-before:before{
    border-color: $ringer !important;
}

.ringer .background-theme-after:after{
    background-color: $ringer !important;
}

.ringer .card-item .toggle-card{
    background-image:url(../../img/toggle-arrow.png);
    background-image:url(../../img/toggle-arrow.svg);
}

/* Kevin Theme */
.kevin .background-theme{
   background-color: $kevin !important;
}

.kevin .color-theme{
   color: $kevin !important;
}

.kevin .border-theme{
   border-color: $kevin !important;
}

.kevin .border-theme-before:before{
    border-color: $kevin !important;
}

.kevin .background-theme-after:after{
    background-color: $kevin !important;
}

.kevin .card-item .toggle-card{
    background-image:url(../../img/toggle-arrow.png);
    background-image:url(../../img/toggle-arrow.svg);
}

/* Danny Theme */
.danny .background-theme{
   background-color: $danny !important;
}

.danny .color-theme{
   color: $danny !important;
}

.danny .border-theme{
   border-color: $danny !important;
}

.danny .border-theme-before:before{
    border-color: $danny !important;
}

.danny .background-theme-after:after{
    background-color: $danny !important;
}

.danny .card-item .toggle-card{
    background-image:url(../../img/toggle-arrow.png);
    background-image:url(../../img/toggle-arrow.svg);
}

/* Johnathan Theme */
.johnathan .background-theme{
   background-color: $johnathan !important;
}

.johnathan .color-theme{
   color: $johnathan !important;
}

.johnathan .border-theme{
   border-color: $johnathan !important;
}

.johnathan .border-theme-before:before{
    border-color: $johnathan !important;
}

.johnathan .background-theme-after:after{
    background-color: $johnathan !important;
}

.johnathan .card-item .toggle-card{
    background-image:url(../../img/toggle-arrow.png);
    background-image:url(../../img/toggle-arrow.svg);
}

/* AZ Theme */
.az .background-theme{
   background-color: $az !important;
}

.az .color-theme{
   color: $az !important;
}

.az .border-theme{
   border-color: $az !important;
}

.az .border-theme-before:before{
    border-color: $az !important;
}

.az .background-theme-after:after{
    background-color: $az !important;
}

.az .card-item .toggle-card{
    background-image:url(../../img/toggle-arrow.png);
    background-image:url(../../img/toggle-arrow.svg);
}
