

/* Base Theme Transitions */
.background-theme{
   @include transition(background-color, 0.5s, linear);
}

body:not(.mobile):not(.no-transition){
    .color-theme{
        @include transition(color, 0.5s, linear);
    }
    .border-theme{
       @include transition(border-color, 0.5s, linear);
    }
    .border-theme-before:before{
       @include transition(border-color, 0.5s, linear);
   }
   .background-theme-after:after{
       @include transition(background-color, 0.5s, linear);
   }
} 

/* Ringer Theme */
.ringer{
    .background-theme{
       background-color: $ringer !important;
    }
    .color-theme{
       color: $ringer !important;
    }
    .border-theme{
       border-color: $ringer !important;
    }
}

/* Kevin Theme */
.kevin{
    .background-theme{
       background-color: $kevin !important;
    }
    .color-theme{
       color: $kevin !important;
    }
    .border-theme{
       border-color: $kevin !important;
    }

}


/* Danny Theme */
.danny{
    .background-theme{
       background-color: $danny !important;
    }

    .color-theme{
       color: $danny !important;
    }

    .border-theme{
       border-color: $danny !important;
    }
}


/* Jonathan Theme */
.jonathan {
    .background-theme{
       background-color: $jonathan !important;
    }

    .color-theme{
       color: $jonathan !important;
    }

    .border-theme{
       border-color: $jonathan !important;
    }
}

/* AZ Theme */
.az{
    .background-theme{
       background-color: $az !important;
    }

    .color-theme{
       color: $az !important;
    }

    .border-theme{
       border-color: $az !important;
    }
}
